html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #e0e0e0; /* Đặt màu nền mặc định cho body */
    font-family: 'Times New Roman', Times, serif;
}

.body-no-scroll {
    overflow: hidden;
}
/* Layout chính của ứng dụng */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Chiếm toàn bộ chiều cao của #root */
}

.main-content {
  flex-grow: 1; /* Cho phép nội dung chính co giãn để đẩy footer xuống */
}
